# Google Gemini API Key
# Получить: https://aistudio.google.com/apikey
GEMINI_API_KEY=AIzaSyDjG7DmwDqtUAj2knd8w-utk2nYLjNPY34

# Telegram Bot Token
TELEGRAM_TOKEN=8800741239:AAGsL1h2H_R8gcFTICnLZgtUacNWeZmEtzU

# Telegram Chat ID
TELEGRAM_CHAT_ID=682416361

# Путь к БД
DB_PATH=tickets.db
